In [2]:
import pandas as pd

df = pd.read_csv('../data/raw/twcs.csv')

df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811774 entries, 0 to 2811773
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tweet_id                 int64
 1   author_id                object
 2   inbound                  bool
 3   created_at               object
 4   text                     object
 5   response_tweet_id        object
 6   in_response_to_tweet_id  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 131.4+ MB

In [4]:
df.isna().sum()

tweet_id                         0
author_id                        0
inbound                          0
created_at                       0
text                             0
response_tweet_id          1040629
in_response_to_tweet_id     794335
dtype: int64

In [5]:
df[df['inbound'] == True].head(10)[['text']]

                                                 text
1       @sprintcare and how do you propose we do that
2   @sprintcare I have sent several private messag...
4                                  @sprintcare I did.
6           @sprintcare is the worst customer service
8   @sprintcare You gonna magically change your co...
10  @sprintcare Since I signed up with you....Sinc...
12  @115714 y’all lie about your “great” connectio...
14  @115714 whenever I contact customer support, t...
16  @Ask_Spectrum Would you like me to email you a...
18  @Ask_Spectrum I received this from your corpor...

In [6]:
df[df['inbound'] == False].head(10)[['text']]

                                                 text
0   @115712 I understand. I would like to assist y...
3   @115712 Please send us a Private Message so th...
5   @115712 Can you please send us a private messa...
7   @115713 This is saddening to hear. Please shoo...
9   @115713 We understand your concerns and we'd l...
11  @115713 H there! We'd definitely like to work ...
13  @115715 Please send me a private message so th...
15         @115716 What information is incorrect? ^JK
17  @115716 Our department is part of the corporat...
19                          @115716 No thank you. ^JK

In [7]:
df['inbound'].value_counts()

inbound
True     1537843
False    1273931
Name: count, dtype: int64

In [8]:
df[['tweet_id', 'text', 'inbound', 'response_tweet_id', 'in_response_to_tweet_id']].head(15)

,tweet_id,text,inbound,response_tweet_id,in_response_to_tweet_id
0,1,@115712 I understand. I would like to assist y...,False,2,3.0
1,2,@sprintcare and how do you propose we do that,True,NaN,1.0
2,3,@sprintcare I have sent several private messag...,True,1,4.0
3,4,@115712 Please send us a Private Message so th...,False,3,5.0
4,5,@sprintcare I did.,True,4,6.0
5,6,@115712 Can you please send us a private messa...,False,"5,7",8.0
6,8,@sprintcare is the worst customer service,True,"9,6,10",NaN
7,11,@115713 This is saddening to hear. Please shoo...,False,NaN,12.0
8,12,@sprintcare You gonna magically change your co...,True,"11,13,14",15.0
9,15,@115713 We understand your concerns and we'd l...,False,12,16.0
10,16,@sprintcare Since I signed up with you....Sinc...,True,15,17.0
11,17,@115713 H there! We'd definitely like to work ...,False,16,18.0
12,18,@115714 y’all lie about your “great” connectio...,True,17,NaN
13,19,@115715 Please send me a private message so th...,False,NaN,20.0
14,20,"@115714 whenever I contact customer support, t...",True,19,NaN

In [9]:
customers = df[df['inbound'] == True][['tweet_id', 'text']]
customers.head()

   tweet_id                                               text
1         2      @sprintcare and how do you propose we do that
2         3  @sprintcare I have sent several private messag...
4         5                                 @sprintcare I did.
6         8          @sprintcare is the worst customer service
8        12  @sprintcare You gonna magically change your co...

In [10]:
agents = df[df['inbound'] == False][['in_response_to_tweet_id', 'text']]
agents.head()

   in_response_to_tweet_id                                               text
0                      3.0  @115712 I understand. I would like to assist y...
3                      5.0  @115712 Please send us a Private Message so th...
5                      8.0  @115712 Can you please send us a private messa...
7                     12.0  @115713 This is saddening to hear. Please shoo...
9                     16.0  @115713 We understand your concerns and we'd l...

In [11]:
faq_df = customers.merge(
    agents,
    left_on='tweet_id',
    right_on='in_response_to_tweet_id',
    suffixes=('_customer', '_agent')
)

faq_df.head()

,tweet_id,text_customer,in_response_to_tweet_id,text_agent
0,3,@sprintcare I have sent several private messag...,3.0,@115712 I understand. I would like to assist y...
1,5,@sprintcare I did.,5.0,@115712 Please send us a Private Message so th...
2,8,@sprintcare is the worst customer service,8.0,@115712 Can you please send us a private messa...
3,8,@sprintcare is the worst customer service,8.0,@115712 I would love the chance to review the ...
4,8,@sprintcare is the worst customer service,8.0,@115712 Hello! We never like our customers to ...

In [12]:
faq_df = faq_df[['text_customer', 'text_agent']]
faq_df.columns = ['question', 'answer']
faq_df.head()

,question,answer
0,@sprintcare I have sent several private messag...,@115712 I understand. I would like to assist y...
1,@sprintcare I did.,@115712 Please send us a Private Message so th...
2,@sprintcare is the worst customer service,@115712 Can you please send us a private messa...
3,@sprintcare is the worst customer service,@115712 I would love the chance to review the ...
4,@sprintcare is the worst customer service,@115712 Hello! We never like our customers to ...

In [13]:
faq_df.dropna(inplace=True)
faq_df.drop_duplicates(inplace=True)
len(faq_df)

1261730

In [14]:
import pickle

with open('../models/faq_data.pkl', 'wb') as f:
    pickle.dump(faq_df, f)